annotated-types==0.7.0
anthropic==0.28.0
anyio==4.4.0
appnope==0.1.4
asttokens==2.4.1
attrs==23.2.0
certifi==2024.12.14
charset-normalizer==3.3.2
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
distro==1.9.0
exceptiongroup==1.2.1
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.14.0
frozenlist==1.7.0
fsspec==2024.6.0
h11==0.16.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.2
idna==3.7
ipykernel==6.29.4
ipython==8.25.0
jedi==0.19.1
jiter==0.4.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.9.0
matplotlib-inline==0.1.7
multidict==6.6.4
nbformat==5.10.4
nest-asyncio==1.5.5
networkx==3.2.1
nltk==3.9.1
notebook==7.4.2
notebook_shim==0.2.4
numba==0.59.0
numpy==1.26.4
openai==1.31.0
packaging==24.0
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
platformdirs==4.2.2
plotly==5.22.0
prompt_toolkit==3.0.46
propcache==0.3.2
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pybase64==1.4.2
pydantic==2.7.3
pydantic_core==2.18.4
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
regex==2024.5.15
requests==2.32.4
rpds-py==0.18.1
setproctitle==1.3.7
sglang==0.5.2
six==1.16.0
skl2onnx==1.16.0
scikit-learn
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.7
spectrochempy==0.8.1
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.5.1
starlette==0.47.2
statsmodels==0.14.4
sympy==1.12
synchronicity==0.6.1
tabulate==0.8.10
tblib==3.0.0
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.1.0
tifffile==2024.1.30
timm==0.9.12
tinycss2==1.4.0
tokenizers==0.15.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz==0.12.1
torch==2.8.0
torch-optimizer==0.3.0
torchmetrics==0.7.3
torchvision==0.22.1
tornado==6.5
tqdm==4.67.1
traitlets==5.14.3
transformers==4.53.2
typer
types-awscrt
types-certifi==2021.10.8.3
types-python-dateutil==2.9.0.20241206
types-pytz==2022.5.0.0
types-s3transfer==0.10.0
types-toml==0.10.8.7
typing_extensions==4.9.0
tzdata==2024.2
tzlocal==5.3.1
umap-learn==0.5.5
uri-template==1.3.0
urllib3==2.5.0
Versio==0.5.0
wandb==0.12.21
watchfiles==0.21.0
wcwidth==0.2.13
yarl==1.20.1
